<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sistematec" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logotecnm2017"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logotecnm2017"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.login.Coordinator.ActivityCoordinator"
            android:label="Coordinación"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.login.academy.AcademyActivity"
            android:label="Academia"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.login.Service.ActivityService"
            android:label="@string/title_activity_settings2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.Student.StudentActivity"
            android:label="Estudiante"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.Login.LoginActivity"
            android:label="Sistema Tec" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.example.sistematec.ui.login.BackgroundTask.BackgroundTaks"></service>
    </application>

</manifest>